= render "header/login"
.pagepath
  %ul
    %li.pass-page
      = link_to root_path do
        %span.pass-page__title
          メルカリ
      = fa_icon 'angle-right', class: "icon-arrow-right"
    %li.pass-page
      %span.pass-page__title
        マイページ

.middle.clearfix
  .main
    = render partial: "side_bar"
    .user-info
      .user-info__icon
        = link_to 'https://www.mercari.com/jp/' do
          = image_tag 'member_photo_noimage_thumb', alt: 'ユーザのアイコン'
          %h2.bold テストユーザー
          .count
            .count__evaluation
              評価
              %span.bold 0
            .count__exhibit
              出品数
              %span.bold 0

      %ul.user-info__tabs
        %li.active
          %h3
            = link_to '#mypage-tab-todo' do
              お知らせ
        %li
          %h3
            = link_to '#mypage-tab-todo' do
              やることリスト

      .user-info__tab-content
        %ul.user-info__tab-content-list
          = render "users/shared/user_info_content", text: "テストテストテストテスト", time: "1日前"
          = render "users/shared/user_info_content", text: "テストテストテストテスト", time: "1日前"
          = render "users/shared/user_info_content", text: "テストテストテストテスト", time: "2日前"
          = render "users/shared/user_info_content", text: "テストテストテストテスト", time: "3日前"
          = render "users/shared/user_info_content", text: "テストテストテストテスト", time: "5日前"
          %li.mypage-go-list
            = link_to 'https://www.mercari.com/jp/' do
              一覧を見る


      .user-info__products
        %h2.user-info__products-head
          購入した商品
        %ul.user-info__products-tabs
          %li.active
            %h3
              = link_to '#mypage-tab-todo' do
                お知らせ
          %li
            %h3
              = link_to '#mypage-tab-todo' do
                やることリスト
        %ul.user-info__product-content
          %li.user-info__product-content-not-found
            取引中の商品がありません


= render "shared/sell-btn"
= render "shared/footer"
