.bottom
  .bottom-left
    .bottom-text
      .bottom-text__upper
        スマホでかんたんフリマアプリ
      .bottom-text__lower
        今すぐ無料ダウンロード
    .bottom-icon
      .bottom-icon__merucari
        = image_tag 'merucari_profile.svg', alt: 'メルカリアイコン'
      .bottom-icon__appstore
        = image_tag 'app-store.svg', alt: 'appstoreアイコン'
      .bottom-icon__googleplay
        = image_tag 'googleplay.svg', alt: 'googleplayアイコン'
  .bottom-right
    .bottom-right__freetag
      = image_tag 'freetag.png', alt: 'freetagアイコン'
      
.footer
  .footer-text
    %ul.footer-text__title
      %h2 メルカリについて
      %li.footer-text__list
        会社概要
      %li.footer-text__list
        採用情報
      %li.footer-text__list
        プレスリリース
      %li.footer-text__list
        公式ブログ
      %li.footer-text__list
        メルカリロゴ利用ガイドライン  
      %li.footer-text__list__icon
        = fa_icon 'twitter'
      %li.footer-text__list__icon
        = fa_icon 'facebook-square'
          

    %ul.footer-text__title
      %h2 メルカリガイド
      %li.footer-text__list
        らくらくメルカリ便
      %li.footer-text__list
        ゆうゆうメルカリ便
      %li.footer-text__list
        大型メルカリ便
      %li.footer-text__list
        車体取引ガイド
      %li.footer-text__list
        メルカリあんしん・あんぜん宣言！
      %li.footer-text__list
        偽ブランド品撲滅への取り組み
      %li.footer-text__list
        メルカリボックス

    %ul.footer-text__title
      %h2 プライバシーポリシー
      %li.footer-text__list
        メルカリ利用規約
      %li.footer-text__list
        あんしんスマホサポート制度に関する利用特約
      %li.footer-text__list
        コンプライアンスポリシー
    %ul.footer-text__middle
      %li.footer-text__list
        個人データの安全管理に係る基本方針
      %li.footer-text__list
        特定商取引に関する表記
      %li.footer-text__list
        資金決済法に基づく表示
      %li.footer-text__list
        法令遵守と犯罪抑止の為に
    
    %ul.footer-text__title
      %h2 国
      %li.footer-text__list
        日本
      %li.footer-text__list
        日本
      %li.footer-text__list
        united state
    
  .footer-last
    %ul.footer-last__icon
      %li.footer-last__merucari
        = image_tag 'merucari-logo-white.svg', alt: 'メルカリロゴ'
      %li.footer-last__text
        &copy;ヤドカリ
