.wrapper
  = render 'shared/header'
  .top-image__slider
    .slider-wrapper
      .slide-item__sumaho
        .slide-item__sumaho__left
          .slide-item__sumaho__left__upper
            スマホでかんたん<br>フリマアプリ
          %p.slide-item__sumaho__left__lower
            メルカリはスマホカメラからすぐに出品できる<br>購入時も安心な独自システムのアプリです
          .slide-item__sumaho__left__appstore
            = image_tag 'app-store.svg', alt: 'appstoreのアイコン'
          .slide-item__sumaho__left__googleplay
            = image_tag 'googleplay', alt: 'googleplayのアイコン'
        .slide-item__sumaho__right
        = image_tag 'sumaho.png', alt: 'メルカリスマホ写真', height: "390"
        %p.arrow-next
          >
        %p.arrow-prev 
          <         
      .slide-item__camp
        = image_tag 'camp.png', alt: 'キャンプ用品', height: "390"
        %p.arrow-next
          >
        %p.arrow-prev 
          <       
    //スライドは後回し

  .item-categori
    人気の商品一覧
  
  .item
    .item-images
      .item-images__text
        人気の商品写真
      .item-image
        .item-image__box
          = image_tag 'item.jpg', alt: 'キャンプ用品', height:'188', width: '188'
        %span.item-image__price
          4321
        %span.item-image__name
          ショートコート
      .item-image
        .item-image__box
          = image_tag 'item.jpg', alt: 'キャンプ用品', height:'188', width: '188'
        %span.item-image__price
          4321
        %span.item-image__name
          ショートコート
      .item-image
        .item-image__box
          = image_tag 'item.jpg', alt: 'キャンプ用品', height:'188', width: '188'
        %span.item-image__price
          4321
        %span.item-image__name
          ショートコート
      .item-image
        .item-image__box
          = image_tag 'item.jpg', alt: 'キャンプ用品', height:'188', width: '188'
        %span.item-image__price
          4321
        %span.item-image__name
          ショートコート
      .item-image
        .item-image__box
          = image_tag 'item.jpg', alt: 'キャンプ用品', height:'188', width: '188'
        %span.item-image__price
          4321
        %span.item-image__name
          ショートコート 
      .item-image
        .item-image__box
          = image_tag 'item.jpg', alt: 'キャンプ用品', height:'188', width: '188'
        %span.item-image__price
          4321
        %span.item-image__name
          ショートコート
      .item-image
        .item-image__box
          = image_tag 'item.jpg', alt: 'キャンプ用品', height:'188', width: '188'
        %span.item-image__price
          4321
        %span.item-image__name
          ショートコート
      .item-image
        .item-image__box
          = image_tag 'item.jpg', alt: 'キャンプ用品', height:'188', width: '188'
        %span.item-image__price
          4321
        %span.item-image__name
          ショートコート
      .item-image
        .item-image__box
          = image_tag 'item.jpg', alt: 'キャンプ用品', height:'188', width: '188'
        %span.item-image__price
          4321
        %span.item-image__name
          ショートコート
      .item-image
        .item-image__box
          = image_tag 'item.jpg', alt: 'キャンプ用品', height:'188', width: '188'
        %span.item-image__price
          4321
        %span.item-image__name
          ショートコート

  = render 'shared/sell-btn'
  
  = render 'shared/footer'

  