.wrapper
  = render 'shared/header/logout'
  .top-image__slider
    .slider-wrapper
      .slide-item-wrap
        .slide-item__sumaho
          .slide-item__sumaho__left
            .slide-item__sumaho__left__upper
              スマホでかんたん<br>フリマアプリ
            %p.slide-item__sumaho__left__lower
              メルカリはスマホカメラからすぐに出品できる<br>購入時も安心な独自システムのアプリです
            .slide-item__sumaho__left__appstore
              = image_tag 'app-store.svg', alt: 'appstoreのアイコン'
            .slide-item__sumaho__left__googleplay
              = image_tag 'googleplay.svg', alt: 'googleplayのアイコン'
          .slide-item__sumaho__right
          = image_tag 'sumaho.png', alt: 'メルカリスマホ写真', height: "390"
      .slide-item__camp
        
    //スライドは後回しにしている。キャンプの写真の裏に隠れるように現在配置している

  .item-categori
    人気の商品一覧

  .item
    .item-images
      .item-images__text
        .item-images__text__left
          人気の商品写真
        .item-images__text__right
          もっと見る
      - @items.each do |item|
        .item-image
          .item-image__box
            = image_tag item.image, alt: item.name, height:'188', width: '188'
          %span.item-image__price
            ¥
            = item.price
          %span.item-image__name
            = item.name
        
     

  = render 'shared/sell-btn'
  = render 'shared/footer'