- if user_signed_in?
  = render 'shared/header/login'
- else
  = render 'shared/header/logout'


.body
  .box
    %h1 高知  ショルダーバック
    .box-item
      .item-photo
        .owl-carousel.owl-loaded.owl-drag
          .owl-stage-outer
            .owl-stage
              .owl-item
                .owl-item-inner
                  = image_tag 'item.jpg', alt: 'ショートコート', height:'300', width: '300'
              .owl-item
                .owl-item-inner
                  = image_tag 'item.jpg', alt: 'ショートコート', height:'300', width: '300'
              .owl-item
                .owl-item-inner
                  = image_tag 'item.jpg', alt: 'ショートコート', height:'300', width: '300'
              .owl-item
                .owl-item-inner
                  = image_tag 'item.jpg', alt: 'ショートコート', height:'300', width: '300'
              .owl-item
                .owl-item-inner
                  = image_tag 'item.jpg', alt: 'ショートコート', height:'300', width: '300'
              .owl-item
                .owl-item-inner
                  = image_tag 'item.jpg', alt: 'ショートコート', height:'300', width: '300'

          .owl-dots
            .owl-dot
              = image_tag 'item.jpg', alt: 'ショートコート', height:'75', width: '75'
          .owl-dots
            .owl-dot
              = image_tag 'item.jpg', alt: 'ショートコート', height:'300', width: '300'
          .owl-dots
            .owl-dot
              = image_tag 'item.jpg', alt: 'ショートコート', height:'300', width: '300'
          .owl-dots
            .owl-dot
              = image_tag 'item.jpg', alt: 'ショートコート', height:'300', width: '300'
          .owl-dots
            .owl-dot
              = image_tag 'item.jpg', alt: 'ショートコート', height:'300', width: '300'
          .owl-dots
            .owl-dot
              = image_tag 'item.jpg', alt: 'ショートコート', height:'300', width: '300'

      %table.item-table
        %tr
          %th 出品者
          %td
            .user 高知家
            .rating
              .user-rating
                .rating-good
                  = fa_icon 'heart'
                %span 7
              .user-rating
                .rating-good
                  = fa_icon 'heart'
                %span 0
              .user-rating
                .rating-good
                  = fa_icon 'heart'
                %span 8
        %tr
          %th カテゴリー
          %td
            .category
              レディース
            .category-sub
              バック
            .category-sub-sub
              ショルダーバッグ
        %tr
          %th ブランド
          %td コーチ
        %tr
          %th 商品の状態
          %td 目立った傷なし
        %tr
          %th 配送料の負担
          %td 送料込み（出品者負担）
        %tr
          %th 配送の方法
          %td らくらくメルカリ便
        %tr
          %th 配送元地域
          %td 高知県
        %tr
          %th 発送日の目安
          %td 2~3日で発送
    .box-price
      %span.box-price-bold
        ¥4,000
      %span.box-price-tax
        (税込)
      %span.box-price-fee
        送料込み
    .box-btn
      購入画面に進む

    .box-comment-seller
      %p
        縦26㎝×横27㎝×マチ3.5㎝です。
        財布、ポーチ、スマホなどのお荷物の時に。
        シルバーなのでシーズンを選びません。
        ベルトの長さを色々調節できるタイプです。
        安心・安全の高知製です！
    .box-last
      .box-last__left
        .like
          = fa_icon 'heart', class: "like-icon"
          %span.like-text
            いいね！
          %span.like-count
            1
        .report
          = fa_icon 'flag', class: "report-icon"
          %span.report-text
            不適切な商品の報告
      .box-last__right
        = fa_icon 'lock', class: "safe-icon"
        %span.safe-icon
          あんしん・あんぜんへの取り組み

  .comment-buyer
    %p
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    %textarea{name: "body", type: "text", value: ""}
    .comment-buyer__btn
      コメントする

  %ul.item-link
    %li.item-link__left
      =fa_icon 'arrow-left', class: "item-link__icon"
      レターパックプラス40枚
    %li.item-link__right
      レターパックプラス40枚
      =fa_icon 'arrow-right', class: "item-link__icon"

  .sns-box
    %ul.sns-icon
      %li.sns-icon-facebook
        =fa_icon 'facebook-square'
      %li.sns-icon-twitter
        =fa_icon 'twitter'
      %li.sns-icon-line
        = image_tag 'LINE_APP.png', alt: 'LINEのアイコン', height: '44', width: '44', class: 'line'
      %li.sns-icon-pintarest
        =fa_icon 'pinterest'

  .user-items
    %h2 高知家さんのその他の出品
    .user-item
      .item-box
        .item-box__photo
          = image_tag 'item.jpg', alt: 'ショートコート', height:'220', width: '220'
        .item-box__details
          %h4 ショートコート
          .item-box__details-price
            1800
            .item-box__details-icon
              = fa_icon 'heart', class: "item-likes"
              .item-likes-count
                1
      .item-box
        .item-box__photo
          = image_tag 'item.jpg', alt: 'ショートコート', height:'220', width: '220'
        .item-box__details
          %h4 ショートコート
          .item-box__details-price
            1800
            .item-box__details-icon
              = fa_icon 'heart', class: "item-likes"
              .item-likes__count
                1
      .item-box__right
        .item-box__photo
          = image_tag 'item.jpg', alt: 'ショートコート', height:'220', width: '220'
        .item-box__details
          %h4 ショートコート
          .item-box__details-price
            1800
            .item-box__details-icon
              = fa_icon 'heart', class: "item-likes"
              .item-likes__count
                1
      .item-box
        .item-box__photo
          = image_tag 'item.jpg', alt: 'ショートコート', height:'220', width: '220'
        .item-box__details
          %h4 ショートコート
          .item-box__details-price
            1800
            .item-box__details-icon
              = fa_icon 'heart', class: "item-likes"
              .item-likes__count
                1
      .item-box
        .item-box__photo
          = image_tag 'item.jpg', alt: 'ショートコート', height:'220', width: '220'
        .item-box__details
          %h4 ショートコート
          .item-box__details-price
            1800
            .item-box__details-icon
              = fa_icon 'heart', class: "item-likes"
              .item-likes__details-count
                1

  .other-items
    %h2 高知家さんのその他の出品
    .other-item
      .other-item-box
        .other-item-box__photo
          = image_tag 'item.jpg', alt: 'ショートコート', height:'220', width: '220'
        .other-item-box__details
          %h4 ショートコート
          .other-item-box__details-price
            1800
            .other-item-box__details-icon
              = fa_icon 'heart', class: "other-item-likes"
              .other-item-likes__details-count
                1
      .other-item-box
        .other-item-box__photo
          = image_tag 'item.jpg', alt: 'ショートコート', height:'220', width: '220'
        .other-item-box__details
          %h4 ショートコート
          .other-item-box__details-price
            1800
            .other-item-box__details-icon
              = fa_icon 'heart', class: "other-item-likes"
              .other-item-likes__details-count
                1
      .other-item-box__right
        .other-item-box__photo
          = image_tag 'item.jpg', alt: 'ショートコート', height:'220', width: '220'
        .other-item-box__details
          %h4 ショートコート
          .other-item-box__details-price
            1800
            .other-item-box__details-icon
              = fa_icon 'heart', class: "other-item-likes"
              .other-item-likes__count
                1
      .other-item-box
        .other-item-box__photo
          = image_tag 'item.jpg', alt: 'ショートコート', height:'220', width: '220'
        .other-item-box__details
          %h4 ショートコート
          .other-item-box__details-price
            1800
            .other-item-box__icon
              = fa_icon 'heart', class: "other-item-likes"
              .other-item-likes__details-count
                1
      .other-item-box
        .other-item-box__photo
          = image_tag 'item.jpg', alt: 'ショートコート', height:'220', width: '220'
        .other-item-box__details
          %h4 ショートコート
          .other-item-box__details-price
            1800
            .other-item-box__details-icon
              = fa_icon 'heart', class: "other-item-likes"
              .other-item-likes__details-count
                1
      .other-item-box__right
        .other-item-box__photo
          = image_tag 'item.jpg', alt: 'ショートコート', height:'220', width: '220'
        .other-item-box__details
          %h4 ショートコート
          .other-item-box__details-price
            1800
            .other-item-box__details-icon
              = fa_icon 'heart', class: "other-item-likes"
              .other-item-likes__details-count
                1
  .pagepath__under
    %ul
      %li.pass-page__under
        = link_to "https://www.mercari.com/jp/" do
          %span.pass-page__left__under
            メルカリ
        = fa_icon 'angle-right', class: "icon-arrow-right"
      %li.pass-page__under
        %span.pass-page__right__under
          高知家ショルダーバック



= render 'shared/footer'
